[submodule "bundles/io/org.eclipse.smarthome.io.voice/pocketsphinx/pocketsphinx"]
	path = bundles/io/org.eclipse.smarthome.io.voice/pocketsphinx/pocketsphinx
	url = https://github.com/mozilla/pocketsphinx
